{% extends "main/base.html" %}
{% block heading %}{% endblock %}
{% block content %}
{% if error %}
    <p class=error>{{error}}</p>
{% endif %}
<form method=post action={% url 'account:userLogin' %}>
    {% csrf_token %}

    使用者名稱：<input type=text name=username><br>
    使用者密碼：<input type=password name=password><br>

    <!-- 
    <input type=submit value=送出>
     -->
    <br>
    
    <button class="btn btn-warning dropdown-toggle" type=submit>送出</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-success dropdown-toggle">忘記密碼</button>
    </a></p> 
</form>
<br>

{% endblock %}