{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}{% endblock %}
{% block content %}

<p>來編輯自己的筆記吧！</p>

<br>
<br>
<br>
<br>
<br>
<hr>

    「死人嚇著你了嗎？」威瑪·羅伊斯爵士帶著輕淺的笑意問。
<br>
    蓋瑞並未中激將之計，年過五十的他也算得上是個老人，這輩子看過太多貴族子弟來來去去。「死了就是死了，」他說，「咱們何必追尋死人。」
<br>
    「你能確定他們真死了？」羅伊斯輕聲問，「證據何在？」
<br>
    「威爾看到了，」蓋瑞道，「我相信他說的話。」
<br>
    威爾料到他們早晚會把自己捲入這場爭執，只是沒想到這麼快。「我娘說過，死人沒戲可唱。」他插嘴道。
<br>
    「威爾，我母親也說過這話，」羅伊斯回答：「千萬別相信你在女人懷裡聽到的東西。就算人是死了，也能讓我們瞭解很多東西。」他的餘音在暮色昏暝的森林裡迴盪，似乎吵鬧了點。
<br>
    「回去的路還長著呢，」蓋瑞指出，「少不了走個八九天，況且天色漸漸暗下來了。」
<br>
<br>
<br>
<img src="{% static 'main/img/10.jpg' %}" border="0" /> 


<!-- 
<a href= "{% url 'main:main' %}" >回首頁</a>
 -->
 
 
{% endblock %}